#!/bin/sh

dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

nvidia-settings --load-config-only &
# xcompmgr &
keyremap &
# playerctld deamon &
# timidity -iA &
unclutter &
# xwallpaper --zoom ~/.local/share/pape
# xinput set-prop 10 "libinput Accel Speed" -0.5
# export _JAVA_AWT_WM_NONREPARENTING=1
# export AWT_TOOLKIT=MToolkit
# wmname LG3D
