#!/bin/sh

dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

xcompmgr &
keyremap &
playerctld deamon &
timidity -iA &
xwallpaper --zoom ~/.local/share/pape
xinput set-prop 10 "libinput Accel Speed" -0.5
